<h2>Lisf of Articles</h2>

<ul>
  <% @articles.each do |article| %>
      <div class="delete-align">
        <li>
          <h3 class="delete">
            <%= link_to "#{article.title}", article %>
            <%= link_to article, method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </h3>
        </li>
      </div>
  <% end %>
</ul>

<%= link_to 'Add new Article', new_article_path %>
