// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .delete-align {
//   width: 250px;
//   display: flex;
//   justify-content: space-between;
// }

li {
  width: 250px;
}

.delete {
  display: flex;
  justify-content: space-between;
}
